*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fimg.freepik.com%2Ffree-vector%2Fyellow-background-with-halftone-lines-design_1017-30148.jpg%3Fw%3D360&imgrefurl=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fyellow-background&tbnid=q3Mrd0DaQoODXM&vet=12ahUKEwiOovLt3N_6AhUTk9gFHYZGBO0QMygAegUIARDlAQ..i&docid=BVCt5Y3LItgGpM&w=360&h=206&itg=1&q=yeallow%20background%20hd&ved=2ahUKEwiOovLt3N_6AhUTk9gFHYZGBO0QMygAegUIARDlAQ);
    height: 100vh;
    background-size: cover;
    background-position: center;
     
}

ul{
    float: right;
    list-style-type: none;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration:none ;
    color: #fff;
    padding: 5px 20px;
    border: 1px;
}
a{
    text-decoration: none;
}